$font: "Gilroy";
$primary-color: #458ff6;
$text-color: #121212;
$border-color: #121212;
$border-white: #fff;
$bg-color:#fff;
$text-white: #ffffff;
$bg-black: #000000;
$text-gray: #808080;

// breakpoints
$breakpoint-mobile: 576px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-large-desktop: 1440px;
$breakpoints: (
  'xs': 0,
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px,
  'xxl': 1400px
);